[submodule "baselines/AMGX"]
	path = baselines/AMGX
	url = https://github.com/NVIDIA/AMGX.git
[submodule "baselines/bricklib_gmg"]
	path = baselines/bricklib_gmg
	url = https://github.com/OscarAntepara/bricklib.git
