[submodule "benchmarks/amg_2d/src/libraries/spatial-collectives"]
	path = benchmarks/amg_2d/src/libraries/spatial-collectives
	url = https://github.com/spcl/spatial-collectives.git
	branch = modified_spcl 
[submodule "baselines/AMGX"]
	path = baselines/AMGX
	url = https://github.com/NVIDIA/AMGX.git
